
.vs/ReplaceTool/FileContentIndex/38995dfc-3145-44ca-9320-72d4c792df43.vsidx
.vs/ReplaceTool/FileContentIndex/read.lock
.vs/ReplaceTool/v17/.suo
obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/ReplaceTool.csproj.AssemblyReference.cache
obj/Debug/ReplaceTool.csproj.CoreCompileInputs.cache
obj/Debug/ReplaceTool.csproj.FileListAbsolute.txt
obj/Debug/ReplaceTool.csproj.GenerateResource.cache
obj/Debug/ReplaceTool.exe
obj/Debug/ReplaceTool.pdb
obj/Debug/ReplaceTool.Properties.Resources.resources
obj/Debug/ReplaceTool.ReplaceToolForm.resources
.vs/ReplaceTool/FileContentIndex/1f4aa9aa-adce-41ee-8da1-9961de38edd5.vsidx
.vs/ReplaceTool/FileContentIndex/96d32079-a6a9-4715-814d-48e3b832c883.vsidx
.vs/ReplaceTool/FileContentIndex/0de92025-cf4c-4d5d-8ffe-82cf46668e61.vsidx
.vs/ReplaceTool/FileContentIndex/dacd56e4-4b0d-4c0d-a1e7-9c32df5200ed.vsidx
obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
bin/Debug/ReplaceTool.exe.config
app.config
.vs/ReplaceTool/FileContentIndex/d80f0cc9-7fc3-43d3-8c04-7363fd3a26d9.vsidx
