
.vs/ReplaceTool/FileContentIndex/38995dfc-3145-44ca-9320-72d4c792df43.vsidx
.vs/ReplaceTool/FileContentIndex/read.lock
.vs/ReplaceTool/v17/.suo
obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/ReplaceTool.csproj.AssemblyReference.cache
obj/Debug/ReplaceTool.csproj.CoreCompileInputs.cache
obj/Debug/ReplaceTool.csproj.FileListAbsolute.txt
obj/Debug/ReplaceTool.csproj.GenerateResource.cache
obj/Debug/ReplaceTool.exe
obj/Debug/ReplaceTool.pdb
obj/Debug/ReplaceTool.Properties.Resources.resources
obj/Debug/ReplaceTool.ReplaceToolForm.resources
